<div class="social-links">
    {% if site.linkedin %}
        <a class="link" href="https://linkedin.com/in/{{ site.linkedin }}" target="_blank">
            <svg class="icon icon-linkedin"><use href="#icon-linkedin"></use></svg>
        </a>
    {% endif %}

    {% if site.github %}
        <a class="link" href="https://github.com/{{ site.github }}" target="_blank">
            <svg class="icon icon-github-3"><use href="#icon-github-3"></use></svg>
        </a>
    {% endif %}
    
   {% if site.twitter %}
        <a class="link" href="https://twitter.com/{{ site.twitter }}" target="_blank">
            <svg class="icon icon-twitter"><use href="#icon-twitter"></use></svg>
        </a>
   {% endif %}

   {% if site.medium %}
        <a class="link" href="https://medium.com/@{{ site.medium }}" target="_blank">
            <svg class="icon icon-medium"><use href="#icon-medium"></use></svg>
        </a>
   {% endif %}
    
   {% if site.goodreads %}
        <a class="link" href="https://goodreads.com/{{ site.goodreads }}" target="_blank">
            <svg class="icon icon-goodreads"><use href="#icon-goodreads"></use></svg>
        </a>
   {% endif %}
    
   {% if site.email %}
        <a class="link" href="mailto:{{ site.email }}">
            <svg class="icon icon-mail"><use href="#icon-mail"></use></svg>
        </a>
   {% endif %}
</div>